.Hello {
    color: white;
    user-select: none;
    position: relative;
} 
.Hello::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -12px;
    background-color: #61dafb;
    opacity: 0;
    transition: opacity,bottom .3s;
}
.Hello:hover::after {
    opacity: 1;
    bottom: -4px;
}
